@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header,
.hero {
    background-color: #1f2937;
    padding: 20px 200px;
}

header {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 450px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.heroTexts {
    width: 450px;
    height: 250px;
}

.imagePlaceholder {
    width: 500px;
    height: 250px;
    background-color: gray;
    color: #c1c2bf;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 4px;
    background-color: #3882f6;
    padding: 8px 24px;
    font-size: 18px;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    align-items: center;
    height: 450px;
}

.block {
    width: 150px;
    height: 150px;
    border: #3882f6 solid 4px;
    border-radius: 10%;
}

.item {
    width: 150px;
    height: 200px;
    text-align: center;
    color: gray;
}

.items {
    display: flex;
    justify-content: center;
    gap: 52px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}